* {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

body {
  font-family: "Roboto", sans-serif;
  background: #eee;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #009966;
}
body:before {
  content: "";
  -webkit-box-shadow: inset 0 0 0 20px #009966;
          box-shadow: inset 0 0 0 20px #009966;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 100;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh !important;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.swiper-scrollbar {
  right: 50px !important;
}

.swiper-pagination {
  right: 50px !important;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background: #009966 !important;
}
.swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  opacity: 1;
  background: #e0e0e0;
}

.slide-content {
  position: relative;
  z-index: 10;
  padding-top: 70px;
}

.main-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 50;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.main-header nav {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  position: relative;
  width: 100%;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.14);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.14);
  height: 50px;
  top: 20px;
}
.main-header nav a {
  display: inline-block;
  line-height: 50px;
  padding: 0 15px;
  font-size: 14px;
  color: #565656;
  text-decoration: none;
}
.main-header nav a.btn-social-icon {
  display: inline-block;
  background: red;
  width: 50px;
  height: 50px;
  font-size: 15px;
  color: white;
  text-align: center;
}
.main-header nav a.btn-twitter {
  background-color: #64b0e6;
}
.main-header nav a.btn-twitter:hover {
  background-color: #64b0e6;
}
.main-header nav a.btn-facebook {
  background-color: #646ee6;
}
.main-header nav a.btn-facebook:hover {
  background-color: #646ee6;
}
.main-header nav a.telefono {
  float: left;
  background-color: #45bf97;
  color: #1f5443;
}
.main-header nav a.telefono img {
  width: 22px;
  vertical-align: -6px;
  margin-right: 10px;
}
.main-header nav a.telefono:hover {
  background-color: #45bf97;
  color: #1f5443;
}
.main-header nav .social {
  float: right;
}
.main-header nav a:hover {
  background-color: #eee;
}
.main-header .logo {
  width: 140px;
  height: 100px;
  background: #009966;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  top: 25px;
}
.main-header .logo img {
  width: 80px;
}
.main-header .left {
  width: 45%;
  padding-left: 20px;
  text-align: right;
}
.main-header .right {
  width: 45%;
  padding-right: 20px;
}

.slide-Finicio {
  background-color: #009966;
}
.slide-Finicio h1 {
  color: white;
  font-family: "Playfair Display";
  font-weight: 900;
  font-style: italic;
}

.slide-inicio h1 {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 90px;
  font-weight: 900;
  text-shadow: 4px 4px 0px #000000, 7px 7px 0px rgba(0, 0, 0, 0.2);
}
.slide-inicio h2 {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 25px;
  font-weight: 600;
  text-shadow: 4px 4px 0px #000000, 7px 7px 0px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.slide-inicio img {
  width: 200px;
  max-width: 100%;
}

.slide-servicios h2 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 65px;
  line-height: 1.2em;
  text-shadow: 0 0 24px black;
}
.slide-servicios h3 {
  color: white;
  font-size: 17px;
  max-width: 500px;
  margin: 0 auto 35px auto;
  line-height: 1.5em;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.05em;
  font-size: 15px;
}
.slide-servicios .servicios-container {
  width: 700px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.slide-servicios .servicios-container .top, .slide-servicios .servicios-container .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.slide-servicios .servicios-container .item {
  margin-bottom: 35px;
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
  color: white;
  display: inline-block;
  padding: 15px;
  border-right: 2px solid #009966;
  border-left: 2px solid #009966;
  border-bottom: 2px solid #009966;
  position: relative;
}
.slide-servicios .servicios-container .item:after {
  content: "";
  height: 2px;
  width: 35px;
  background-color: #009966;
  position: absolute;
  top: 0;
  left: 0;
}
.slide-servicios .servicios-container .item:before {
  content: "";
  height: 2px;
  width: 35px;
  background-color: #009966;
  position: absolute;
  top: 0;
  right: 0;
}
.slide-servicios .servicios-container .item img {
  max-width: 30px;
  margin-top: -55px;
}
.slide-servicios .servicios-container .item span {
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.slide-contacto .slide-contacto--box {
  background: rgba(47, 48, 53, 0.8);
  padding: 50px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  z-index: 50;
  max-width: 900px;
  margin: 0 20px;
  margin-top: 100px;
  max-height: 90vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slide-contacto .slide-contacto--box:after {
  content: "";
  position: absolute;
  pointer-events: none;
  border: 1px solid #009966;
  left: 15px;
  top: 15px;
  bottom: 15px;
  right: 15px;
}
.slide-contacto .slide-contacto--box .left {
  border-right: 1px solid white;
  margin-right: 50px;
  padding-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 150px;
  max-width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slide-contacto .slide-contacto--box .left img {
  width: 150px;
  max-width: 100%;
}
.slide-contacto .slide-contacto--box .right {
  text-align: left;
}
.slide-contacto .slide-contacto--box .right h2 {
  font-weight: 700;
  margin-bottom: 20px;
}
.slide-contacto .slide-contacto--box .right form .button-container {
  text-align: right;
}
.slide-contacto .slide-contacto--box .right form .button-container button {
  border: 0;
  color: white;
  background-color: #009966;
  min-height: 50px;
  padding: 0 35px;
  border-radius: 500px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  outline: none;
  cursor: pointer;
  display: inline-block;
}
.slide-contacto .slide-contacto--box .right form .input-doble {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slide-contacto .slide-contacto--box .right form .input-doble .first {
  margin-right: 20px;
}
.slide-contacto .slide-contacto--box .right form .input-doble .input-container {
  width: 100%;
}
.slide-contacto .slide-contacto--box .right form input {
  width: 100%;
  border: 0;
  padding-left: 10px;
  min-height: 45px;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 20px;
}
.slide-contacto .slide-contacto--box .right form textarea {
  width: 100%;
  min-height: 100px;
  border: 0;
  padding: 10px 10px 15px 10px;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 20px;
}
.slide-contacto .slide-contacto--box .right form input, .slide-contacto .slide-contacto--box .right form textarea {
  outline: none;
  -webkit-transition: 0.5s -webkit-box-shadow;
  transition: 0.5s -webkit-box-shadow;
  transition: 0.5s box-shadow;
  transition: 0.5s box-shadow, 0.5s -webkit-box-shadow;
  -webkit-box-shadow: inset 0 -3px transparent;
          box-shadow: inset 0 -3px transparent;
  resize: none;
}
.slide-contacto .slide-contacto--box .right form input:active, .slide-contacto .slide-contacto--box .right form input:focus, .slide-contacto .slide-contacto--box .right form textarea:active, .slide-contacto .slide-contacto--box .right form textarea:focus {
  -webkit-box-shadow: inset 0 -3px #009966;
          box-shadow: inset 0 -3px #009966;
}

.slide-tarifas .seccion-tarifas {
  margin-top: 100px;
  z-index: 50;
  max-width: 400px;
}
.slide-tarifas .seccion-tarifas .item {
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}
.slide-tarifas .seccion-tarifas .item:before {
  content: "";
  background: rgba(47, 48, 53, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.slide-tarifas .seccion-tarifas .item h5 {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 45px;
  font-weight: 700;
}
.slide-tarifas .seccion-tarifas .item .precio {
  color: #ffd921;
  font-weight: 900;
  font-size: 35px;
  font-family: "Playfair Display", sans-serif;
}
.slide-tarifas .seccion-tarifas .owl-nav {
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
  right: 0;
}
.slide-tarifas .seccion-tarifas .owl-nav .owl-prev, .slide-tarifas .seccion-tarifas .owl-nav .owl-next {
  position: absolute;
  background-color: #009966;
  width: 40px;
  height: 50px;
  position: absolute;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slide-tarifas .seccion-tarifas .owl-nav .owl-prev.disabled, .slide-tarifas .seccion-tarifas .owl-nav .owl-next.disabled {
  opacity: 0.5;
}
.slide-tarifas .seccion-tarifas .owl-nav .owl-prev {
  border-radius: 50px 0 0 50px;
  left: -40px;
}
.slide-tarifas .seccion-tarifas .owl-nav .owl-next {
  border-radius: 0 50px 50px 0;
  right: -40px;
}

.slide-ubicacion iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
}
.slide-ubicacion .map-container {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
}
.slide-ubicacion .content {
  position: absolute;
  left: 40px;
  top: calc(50% - 50px);
  z-index: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.slide-ubicacion .content address {
  background-color: #009966;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  text-align: left;
  font-weight: 600;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 15px;
  min-height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.slide-ubicacion .content address i {
  margin-right: 15px;
}

.slide-habitacion {
  position: relative;
}
.slide-habitacion .carousel {
  position: absolute;
  top: 0;
  left: 0;
}
.slide-habitacion .carousel img {
  width: 100%;
  height: 100%;
}
.slide-habitacion .carousel .carousel-item {
  background-size: cover;
  background-position: center;
}
.slide-habitacion .carousel .caption {
  color: white;
  font-family: "Poppins", sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 80px;
  font-weight: 800;
  font-size: 45px;
  text-shadow: 0 0 24px rgba(0, 0, 0, 0.6);
}

.slide-background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.slide-background .owl-stage-outer, .slide-background .owl-stage, .slide-background .owl-item {
  height: 100%;
}
.slide-background .item {
  height: 100%;
  background-size: cover;
  background-position: center;
}

.bg-carousel {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.bg-carousel .carousel-item, .bg-carousel .carousel-inner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.carousel-fade .carousel-item {
  display: block;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.75s ease-in-out;
  transition: opacity 0.75s ease-in-out;
}
.carousel-fade .carousel-item.active {
  opacity: 1;
}

html, body, .carousel, .carousel-inner, .carousel-item {
  width: 100%;
  height: 100%;
}

.mapa-aguay {
  z-index: 9999;
}

.slide-tarifas pre {
  background-color: transparent;
  color: white;
  position: absolute;
  top: 150px;
  left: 800px;
  z-index: 9999;
  border: none;
  font-size: 1.5em;
  font-family: "Century Schoolbook L";
  font-style: italic;
}

#contact {
  z-index: 9999;
  background: #333333;
  color: #f4f4f4;
  padding-bottom: 30px;
}

.contact-section h2 {
  margin-top: 15px;
}

.contact-section label {
  margin-left: 300px;
}

.contact-section input {
  margin-left: 150px;
}

textarea.form-control {
  height: 100px;
  margin-left: 150px;
}

.contact-section button {
  margin-left: 300px;
}

.dark-bg, .dark-bg1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(62, 62, 62, 0.5) !important;
}

#validar {
  width: 350px;
  height: 50px;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  background-color: #f33e3e;
  position: fixed;
  top: -70px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 350;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  color: white;
  border-radius: 2px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-transition: top 0.5s, background-color 0.5s;
  transition: top 0.5s, background-color 0.5s;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.24);
}
#validar.active {
  top: 80px;
}
#validar.success {
  background-color: #1fc772;
}

.btn-right, .menu-mobile {
  display: none !important;
}

@media (max-width: 1250px) {
  .main-header .logo {
    width: 80px;
    height: 70px;
    top: 5px;
  }
  .main-header .logo img {
    width: 40px;
  }
  .main-header nav a {
    font-size: 12px;
    padding: 0 10px;
  }
  .main-header nav a.telefono img {
    display: none;
  }
}
@media (max-width: 992px) {
  body:before {
    -webkit-box-shadow: inset 0 0 0 10px #009966;
            box-shadow: inset 0 0 0 10px #009966;
  }

  .main-header nav {
    top: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 20px;
  }
  .main-header .logo {
    z-index: 50;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.28);
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.28);
  }
  .main-header .left, .main-header .right {
    display: none;
  }
  .main-header .btn-right {
    display: inline-block !important;
    font-size: 14px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #3e3f52;
    background: #eaecef;
  }
  .main-header .menu-mobile {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #009966;
    height: calc(100vh - 50px);
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    top: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: -webkit-transform 0.7s;
    transition: -webkit-transform 0.7s;
    transition: transform 0.7s;
    transition: transform 0.7s, -webkit-transform 0.7s;
  }
  .main-header .menu-mobile a {
    display: block;
    color: white;
    font-size: 17px;
    width: 100%;
    text-align: center;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
    -webkit-transition: opacity 0.7s, -webkit-transform 0.7s;
    transition: opacity 0.7s, -webkit-transform 0.7s;
    transition: transform 0.7s, opacity 0.7s;
    transition: transform 0.7s, opacity 0.7s, -webkit-transform 0.7s;
    -webkit-transition-delay: 0;
            transition-delay: 0;
  }
  .main-header .menu-mobile a:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .main-header .menu-mobile.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .main-header .menu-mobile.active a {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  .main-header .menu-mobile.active a:nth-child(1) {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  .main-header .menu-mobile.active a:nth-child(2) {
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
  .main-header .menu-mobile.active a:nth-child(3) {
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }
  .main-header .menu-mobile.active a:nth-child(4) {
    -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s;
  }
  .main-header .menu-mobile.active a:nth-child(5) {
    -webkit-transition-delay: 0.7s;
            transition-delay: 0.7s;
  }
  .main-header .menu-mobile.active a:nth-child(6) {
    -webkit-transition-delay: 0.8s;
            transition-delay: 0.8s;
  }

  .slide-inicio h1 {
    font-size: 70px;
  }
  .slide-inicio h2 {
    font-size: 30px;
  }

  .slide-tarifas .seccion-tarifas {
    margin-top: 50px;
  }
  .slide-tarifas .seccion-tarifas .item {
    min-height: 350px;
  }
}
@media (max-width: 768px) {
  .slide-ubicacion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .slide-ubicacion .mapamapa {
    border: 0;
    margin: 0;
    width: 100%;
    height: 50vh;
  }
  .slide-ubicacion .location {
    width: 1005;
    height: 50vh;
  }

  .slide-contacto .slide-contacto--box .right h2 {
    font-size: 25px;
  }

  .slide-servicios .servicios-container .item {
    padding: 10px;
  }
  .slide-servicios .servicios-container .item-aire, .slide-servicios .servicios-container .item-room {
    display: none;
  }
}
@media (max-width: 576px) {
  .swiper-pagination {
    right: 20px !important;
  }

  .slide-contacto .slide-contacto--box {
    display: block;
    padding: 35px;
  }
  .slide-contacto .slide-contacto--box .left {
    display: none;
    margin: 0;
    padding: 0;
    border-right: 0;
    border-bottom: 1px solid white;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  .slide-contacto .slide-contacto--box .left img {
    width: 50px;
    margin: 0 auto;
  }
  .slide-contacto .slide-contacto--box .right h2 {
    text-align: center;
    font-size: 15px;
  }
  .slide-contacto .slide-contacto--box .right form .input-doble {
    display: block;
  }
  .slide-contacto .slide-contacto--box .right form input, .slide-contacto .slide-contacto--box .right form textarea {
    margin-bottom: 5px;
  }

  .slide-ubicacion .content {
    top: auto;
    bottom: 15px;
    left: 20px;
    right: 20px;
  }

  .slide-habitacion .carousel .caption {
    font-size: 20px;
  }

  .slide-inicio {
    padding: 0 30px;
  }
  .slide-inicio h1 {
    font-size: 50px;
  }
  .slide-inicio h2 {
    font-size: 20px;
  }

  .slide-servicios h2 {
    font-size: 35px;
  }
  .slide-servicios h3 {
    display: none;
  }
  .slide-servicios .servicios-container {
    width: 100%;
    display: block;
  }
  .slide-servicios .servicios-container .item-aire, .slide-servicios .servicios-container .item-room, .slide-servicios .servicios-container .item-hide {
    display: none !important;
  }
  .slide-servicios .servicios-container .top, .slide-servicios .servicios-container .bottom {
    display: block;
  }
  .slide-servicios .servicios-container .item {
    width: 90vw;
    display: block;
    border-top: 2px solid #009966;
    text-align: left;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
  }
  .slide-servicios .servicios-container .item img {
    margin-top: 0;
    margin-right: 10px;
  }
  .slide-servicios .servicios-container .item span {
    display: inline-block;
  }
  .slide-servicios .servicios-container .item:before, .slide-servicios .servicios-container .item:after {
    content: none;
  }

  .slide-tarifas .seccion-tarifas {
    max-width: 90%;
  }
  .slide-tarifas .seccion-tarifas .owl-nav .owl-prev, .slide-tarifas .seccion-tarifas .owl-nav .owl-next {
    border-radius: 500px !important;
    height: 40px;
  }
  .slide-tarifas .seccion-tarifas .owl-nav .owl-prev {
    left: 10px;
  }
  .slide-tarifas .seccion-tarifas .owl-nav .owl-next {
    right: 10px;
  }
}
