* {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  background: #eee;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
body:before {
  content: "";
  -webkit-box-shadow: inset 0 0 0 20px #009966;
          box-shadow: inset 0 0 0 20px #009966;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 100;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh !important;
}

.swiper-scrollbar {
  right: 50px !important;
}

.swiper-pagination {
  right: 50px !important;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background: #009966 !important;
}
.swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  opacity: 1;
  background: #e0e0e0;
}

.slide-content {
  position: relative;
  z-index: 10;
  padding-top: 70px;
}

.main-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 50;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.main-header nav {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  position: relative;
  width: 100%;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.14);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.14);
  height: 50px;
  top: 20px;
}
.main-header nav a {
  display: inline-block;
  line-height: 50px;
  padding: 0 15px;
  font-size: 14px;
  color: #565656;
  text-decoration: none;
}
.main-header nav a.btn-social-icon {
  display: inline-block;
  background: red;
  width: 50px;
  height: 50px;
  font-size: 15px;
  color: white;
  text-align: center;
}
.main-header nav a.btn-twitter {
  background-color: #64b0e6;
}
.main-header nav a.btn-twitter:hover {
  background-color: #64b0e6;
}
.main-header nav a.btn-facebook {
  background-color: #646ee6;
}
.main-header nav a.btn-facebook:hover {
  background-color: #646ee6;
}
.main-header nav a.telefono {
  float: left;
  background-color: #45bf97;
  color: #1f5443;
}
.main-header nav a.telefono img {
  width: 22px;
  vertical-align: -6px;
  margin-right: 10px;
}
.main-header nav a.telefono:hover {
  background-color: #45bf97;
  color: #1f5443;
}
.main-header nav .social {
  float: right;
}
.main-header nav a:hover {
  background-color: #eee;
}
.main-header .logo {
  width: 140px;
  height: 100px;
  background: #009966;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  top: 25px;
}
.main-header .logo img {
  width: 80px;
}
.main-header .left {
  width: 45%;
  padding-left: 20px;
  text-align: right;
}
.main-header .right {
  width: 45%;
  padding-right: 20px;
}

.slide-inicio {
  background-color: #009966;
}
.slide-inicio h1 {
  color: white;
  font-family: "Playfair Display";
  font-weight: 900;
  font-style: italic;
}

.slide-servicios h2 {
  color: white;
  font-family: "Playfair Display", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 65px;
  line-height: 1.2em;
}
.slide-servicios h3 {
  color: #58ffc7;
  font-size: 17px;
  max-width: 500px;
  margin: 0 auto 35px auto;
  line-height: 1.5em;
  font-family: "Merriweather", serif;
  font-style: italic;
}
.slide-servicios .servicios-container {
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.slide-servicios .servicios-container .item {
  margin-bottom: 35px;
  width: 95px;
  color: white;
  display: inline-block;
  padding: 15px;
  border-right: 2px solid #009966;
  border-left: 2px solid #009966;
  border-bottom: 2px solid #009966;
  position: relative;
}
.slide-servicios .servicios-container .item:after {
  content: "";
  height: 2px;
  width: 35px;
  background-color: #009966;
  position: absolute;
  top: 0;
  left: 0;
}
.slide-servicios .servicios-container .item:before {
  content: "";
  height: 2px;
  width: 35px;
  background-color: #009966;
  position: absolute;
  top: 0;
  right: 0;
}
.slide-servicios .servicios-container .item img {
  max-width: 30px;
  margin-top: -55px;
}
.slide-servicios .servicios-container .item span {
  display: block;
  font-size: 15px;
}

.slide-contacto {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-name: contacto-bg;
          animation-name: contacto-bg;
  -webkit-animation-delay: 1;
          animation-delay: 1;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: forward;
          animation-direction: forward;
}
.slide-contacto #contact {
  font-family: "Teko", sans-serif;
  padding-top: 60px;
  width: 100%;
  width: 80vw;
  height: 550px;
  background: #7f7f7f;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
}
.slide-contacto .content-header {
  font-family: "Oleo Script", cursive;
  color: #fcc500;
  font-size: 45px;
}
.slide-contacto .section-content {
  text-align: center;
}
.slide-contacto .section-header {
  font-size: 70px;
  font-family: "Century Schoolbook L";
  font-style: italic;
}
.slide-contacto .section-header1 {
  font-size: 35px;
  font-family: "Century Schoolbook L";
  font-style: italic;
}
.slide-contacto .contact-section {
  padding-top: 40px;
}
.slide-contacto .contact-section .col-md-6 {
  width: 50%;
}
.slide-contacto .form-line {
  border-right: 1px solid #B29999;
}
.slide-contacto .form-group {
  margin-top: 10px;
}
.slide-contacto label {
  font-size: 2em;
  line-height: 1em;
  font-weight: normal;
}
.slide-contacto .form-control {
  font-size: 1.3em;
  color: #080808;
}
.slide-contacto textarea.form-control {
  height: 125px;
}
.slide-contacto .submit {
  font-size: 2em;
  float: right;
  width: 150px;
  background-color: transparent;
  color: #fff;
}

.slide-tarifas {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-name: tarifas-bg;
          animation-name: tarifas-bg;
  -webkit-animation-delay: 1;
          animation-delay: 1;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: forward;
          animation-direction: forward;
}
@-webkit-keyframes tarifas-bg {
  0% {
    opacity: 1;
    background-image: url("../img/4.jpg");
  }
  50% {
    opacity: 2;
    background-image: url("../img/5.png");
  }
  100% {
    opacity: 1;
    background-image: url("../img/6.jpg");
  }
}
@keyframes tarifas-bg {
  0% {
    opacity: 1;
    background-image: url("../img/4.jpg");
  }
  50% {
    opacity: 2;
    background-image: url("../img/5.png");
  }
  100% {
    opacity: 1;
    background-image: url("../img/6.jpg");
  }
}
.slide-tarifas #seccion-tarifas {
  font-family: "Teko", sans-serif;
  padding-top: 60px;
  width: 100%;
  width: 50vw;
  left: 250px;
  height: 550px;
  background: #7f7f7f;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  margin-left: 6%;
  float: left;
}

.slide-ubicacion {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-name: ubicacion-bg;
          animation-name: ubicacion-bg;
  -webkit-animation-delay: 1;
          animation-delay: 1;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: forward;
          animation-direction: forward;
}
@-webkit-keyframes ubicacion-bg {
  0% {
    opacity: 1;
    background-image: url("../img/4.jpg");
  }
  50% {
    opacity: 2;
    background-image: url("../img/5.png");
  }
  100% {
    opacity: 1;
    background-image: url("../img/6.jpg");
  }
}
@keyframes ubicacion-bg {
  0% {
    opacity: 1;
    background-image: url("../img/4.jpg");
  }
  50% {
    opacity: 2;
    background-image: url("../img/5.png");
  }
  100% {
    opacity: 1;
    background-image: url("../img/6.jpg");
  }
}
.slide-habitacion {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-name: habitacion-bg;
          animation-name: habitacion-bg;
  -webkit-animation-delay: 1;
          animation-delay: 1;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: forward;
          animation-direction: forward;
}
@-webkit-keyframes habitacion-bg {
  0% {
    opacity: 1;
    background-image: url("../img/habitacion/1.png");
  }
  50% {
    opacity: 2;
    background-image: url("../img/habitacion/2.png");
  }
  100% {
    opacity: 1;
    background-image: url("../img/habitacion/3.jpg");
  }
}
@keyframes habitacion-bg {
  0% {
    opacity: 1;
    background-image: url("../img/habitacion/1.png");
  }
  50% {
    opacity: 2;
    background-image: url("../img/habitacion/2.png");
  }
  100% {
    opacity: 1;
    background-image: url("../img/habitacion/3.jpg");
  }
}
.dark-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(64, 64, 72, 0.7) !important;
}

.slide-background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.slide-background .owl-stage-outer, .slide-background .owl-stage, .slide-background .owl-item {
  height: 100%;
}
.slide-background .item {
  height: 100%;
  background-size: cover;
  background-position: center;
}

.bg-carousel {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.bg-carousel .carousel-item, .bg-carousel .carousel-inner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.bg-carousel .carousel-item {
  background-size: cover;
  background-position: center;
}
.bg-carousel .carousel-item:nth-child(1) {
  background-color: red;
}
.bg-carousel .carousel-item:nth-child(2) {
  background-color: blue;
}
.bg-carousel .carousel-item:nth-child(3) {
  background-color: yellow;
}

.btn-right, .menu-mobile {
  display: none !important;
}

@media (max-width: 1250px) {
  .main-header .logo {
    width: 80px;
    height: 70px;
    top: 5px;
  }
  .main-header .logo img {
    width: 40px;
  }
  .main-header nav a {
    font-size: 12px;
    padding: 0 10px;
  }
  .main-header nav a.telefono img {
    display: none;
  }
}
@media (max-width: 992px) {
  body:before {
    -webkit-box-shadow: inset 0 0 0 10px #009966;
            box-shadow: inset 0 0 0 10px #009966;
  }

  .main-header nav {
    top: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 20px;
  }
  .main-header .logo {
    z-index: 50;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.28);
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.28);
  }
  .main-header .left, .main-header .right {
    display: none;
  }
  .main-header .btn-right {
    display: inline-block !important;
    font-size: 14px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #3e3f52;
    background: #eaecef;
  }
  .main-header .menu-mobile {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #009966;
    height: calc(100vh - 50px);
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    top: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: -webkit-transform 0.7s;
    transition: -webkit-transform 0.7s;
    transition: transform 0.7s;
    transition: transform 0.7s, -webkit-transform 0.7s;
  }
  .main-header .menu-mobile a {
    display: block;
    color: white;
    font-size: 17px;
    width: 100%;
    text-align: center;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
    -webkit-transition: opacity 0.7s, -webkit-transform 0.7s;
    transition: opacity 0.7s, -webkit-transform 0.7s;
    transition: transform 0.7s, opacity 0.7s;
    transition: transform 0.7s, opacity 0.7s, -webkit-transform 0.7s;
    -webkit-transition-delay: 0;
            transition-delay: 0;
  }
  .main-header .menu-mobile a:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .main-header .menu-mobile.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .main-header .menu-mobile.active a {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  .main-header .menu-mobile.active a:nth-child(1) {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  .main-header .menu-mobile.active a:nth-child(2) {
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
  .main-header .menu-mobile.active a:nth-child(3) {
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }
  .main-header .menu-mobile.active a:nth-child(4) {
    -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s;
  }
  .main-header .menu-mobile.active a:nth-child(5) {
    -webkit-transition-delay: 0.7s;
            transition-delay: 0.7s;
  }
  .main-header .menu-mobile.active a:nth-child(6) {
    -webkit-transition-delay: 0.8s;
            transition-delay: 0.8s;
  }
}
